{% extends 'base.html' %}

{% block content %}

<main>
  <div class="creategame">
    <h2>Create Game</h2>

    To create a game, you only need to type a phrase and hit the button!
    <br><br>
    <form class="" action="{% url 'create' %}" enctype="multipart/form-data" method="post">

      {% csrf_token %} <!-- PROTECT THE FORM FROM COMMON ATTACKS -->

      Phrase: <br>
      <input type="text" name="phrase" value="" required>
      <br><br>
      <input type="submit" name="" value="Create Game!">

    </form>
  </div>
  <br><br>
  Existing Games:
  <div class="games">
    {% for game in games.all %}
      <div class="game">
        <div class="">
          {{ game.creation_date }}
          <a href="javascript:document.getElementById('detail{{ game.id }}').submit();">Join this game!</a>
          <form id="detail{{ game.id }}" action="{% url 'detail' game.id %}" method="post">
            {% csrf_token %} <!-- PROTECT THE FORM FROM ATTACKS -->
            <input type="hidden" name="" value="">
          </form>
        </div>
      </div>
    {% endfor %}
  </div>
</main>

{% endblock %}
